[submodule "Gltchium/vendor/spdlog"]
	path = Gltchium/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Gltchium/vendor/GLFW"]
	path = Gltchium/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Gltchium/vendor/imgui"]
	path = Gltchium/vendor/imgui
	url = https://github.com/TheCherno/imgui
